# docker-compose.yml
services:
  infinity:
    image: michaelf34/infinity:latest
    command: v2 --model-id ${EMBEDDING_MODEL:-intfloat/multilingual-e5-base}
    ports:
      - "8902:7997"
    environment:
      - CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES:-0}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["${GPU_ID:-0}"]
              capabilities: [gpu]
    volumes:
      - infinity-cache:/app/.cache
    restart: unless-stopped


  infinity-rerank:
    image: michaelf34/infinity:latest
    command: v2 --model-id ${RERANK_MODEL:-BAAI/bge-reranker-v2-m3}
    ports:
      - "8904:7997"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["0"]  # different GPU or same if fits
              capabilities: [gpu]
    volumes:
      - infinity-cache:/app/.cache

  qdrant:
      image: qdrant/qdrant:latest
      ports:
        - "8903:6333"
      volumes:
        - qdrant-data:/qdrant/storage
      restart: unless-stopped



  opensearch:
      image: opensearchproject/opensearch:2
      ports:
        - "8905:9200"
      environment:
        - discovery.type=single-node
        - plugins.security.disabled=true
        - OPENSEARCH_INITIAL_ADMIN_PASSWORD=5a5d5sSS!!13423g!d23s!g2
      volumes:
        - opensearch-data:/usr/share/opensearch/data
  



volumes:
  infinity-cache:
  qdrant-data:
  opensearch-data: